<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<% @address ? @address : @address = Address.new(:user_id => params[:id])  %>

<div class="tr span-16">
  <div class="td first">&nbsp;</div>
  <div class="td span-16"><h3><%= @address.new_record? ? I18n.t(:new_address) : I18n.t(:edit_address)%></h3></div>
  <div class="td last">&nbsp;</div>
</div>

<br>

<div class="tr span-16">
  <div class="td first">&nbsp;</div>
  <div class="td span-16">
    <%= semantic_form_for @address do |address|%>

      <%= address.input :receiver %>
      <%= address.input :receiver_additional %>
      <%= address.input :street_and_number %>
      <%= address.input :postcode %>
      <%= address.input :town %>
      <%= address.input :land %>
      <%= address.input :kind, :as => :radio, :collection => {"Lieferanschrift" => 0, "Rechnungsanschrift" => 1} %>
      <%= address.input :user_id, :value => (params[:user_id]? params[:user_id] : current_user.id), :as => :hidden %>

    <%= address.buttons %>

  </div>
  <div class="td last">&nbsp;</div>
<% end %>
</div>
