<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>


<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<h4><%= I18n.t(:addresses) %></h4>

<%=  get_notices %>

<% tmp = [:receiver, :street_and_number, :town, :land, :kind] %>
<% address_cols = Address.column_names.to_a%>
<% result = tmp - address_cols%>

<div class="tr">
  <div class=".first">&nbsp;</div>
  <% result.each do |column| %>
    <div class="td .span-2"><b><%=  I18n.t(column)%></b> </div>
  <% end %>
  <div class=".last">&nbsp;</div>
</div>

<% @profile.addresses.each do |address| %>
  <div class="tr">
    <div class=".first">&nbsp;</div>
    <% result.each do |name| %>
      <div class="td .span-2">
        <% if name.to_s == "kind" %>
          <%= address.attributes[name.to_s] == 0 ? "Rechnungsanschrift" : "Lieferanschrift" %>
        <% else %>
          <%=  address.attributes[name.to_s]  %>
        <% end %>

      </div>
    <% end %>

    <div class=".last">
      <% if can? :update, Address %>
        <%= link_to I18n.t(:edit), edit_address_path(address) %>
      <%end%>
      <% if can? :delete, Address %>
        <%= link_to I18n.t(:delete), address, :confirm => I18n.t(:confirm_address) , :method => 'delete' %>
      <%end%>
    </div>
  </div>
<% end %>

