<%= semantic_form_for @profile do |profile| %>

  <%= render "user", :profile => profile %>

  <%#= render "addresses", :profile => profile  %>

  <%= render "settings", :profile => profile %>

  <%= profile.buttons %>

<% end %>

<p align="center"><%= link_to I18n.t(:back), profiles_path %></p>