
<p><%= render "infos", :profile => @profile %><br></p>

<p><%= render "advert", :profile => @profile %><br></p>

<p><%= render "bank", :@profile => @profile %><br></p>

<p><%= render "addresses"  %><br></p>

<% unless @profile.new_record? %>
  <p><%= render "history", :profile => @profile %><br></p>
<% end %>

<p><%= render "profile", :@profile => @profile %><br></p>



<p align="center"><%= link_to I18n.t(:back), profiles_path %></p>