<%#
# Titel:  Historie der eingestellten Pakete
# Autor:  Claudia Pfeil
# Datum:  23.11.10
%>

<h4><%= I18n.t(:profile_packages) %></h4>

<div class="tr">
  <div class="td first">&nbsp;</div>
  <% packages_cols = ListView.get_table_columns(Package, [:serial_number, :kind, :amount_clothes, :state, :created_at])%>
  <% packages_cols.each do |column| %>
    <div class="td span-3">
      <b>
        <% if column.to_s == "name" %>
          <%= I18n.t(:package_name) %>
        <% else %>
          <%=  I18n.t(column)%>
        <% end %>
      </b> </div>
  <% end %>
  <div class="td last">&nbsp;</div>
</div>

<% profile.packages.each do |profile| %>

  <div class="tr">
    <div class="td first">&nbsp;</div>

    <% packages_cols.each do |name| %>

      <div class="td span-3">
        <% if name.to_s == "created_at" %>
          <%= formatted_date(profile.attributes[name.to_s]) %>
        <% elsif name.to_s == "state" %>
          <%= profile.state == true ? I18n.t(:ordered) : I18n.t(:available) %>
        <% else %>
          <%= profile.attributes[name.to_s] %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
