<%= profile.inputs "<h4>" +I18n.t(:reset_password)+ "</h4>" do  %>
    <%= profile.input :password, :as => :password  %>
    <%= profile.input :password_confirmation, :as => :password %>
  <% end %>

<%= profile.inputs "<h4>" +I18n.t(:base_data)+ "</h4>" do %>
  <%= profile.input :last_name %>
  <%= profile.input :first_name %>
  <%= profile.input :sex, :as => :radio, :collection => [["weiblich", false],["männlich", true]] %>
  <%= profile.input :date_of_birth, :as => :datepicker %>
  <%= profile.input :telephone %>
  <%= profile.input :email %>
  <%= profile.input :user_number, :input_html => {:readonly => true} %>
  <%= profile.input :activated_at, :as => :datepicker %>
  <%= profile.input :updated_at, :as => :datepicker %>
<% end %>
