<div class="tr span-18">
  <div class="td first">&nbsp;</div>
  <div class="td span-14"><h1><%= (current_user.is? :admin)? I18n.t(:profiles) : I18n.t(:profile) %></h1><br><%=  get_notices %></div>
  <div class="td last"><br>
    <% if can? :create, Profile %>
      <%= link_to I18n.t(:new_profile), new_profile_path %>
    <%end%>
  </div>
</div>

<div class="tr span-18">
  <div class="td first">&nbsp;</div>
  <% current_user.option.nil? && !(current_user.is? :admin) ?  result = I18n.t(:choose_settings) : @table_cols = get_table_cols(current_user) %>
  <% if @table_cols %>
    <% @table_cols.each do |column| %>
      <div class="td span-4"><b><%=  I18n.t(column)%></b> </div>
    <% end %>
    <% else %>
      <%= result %><%=  link_to I18n.t(:edit), edit_profile_path(User.find_by_id(current_user.id)) %>
  <% end %>
  <div class="td last span-2">&nbsp;</div>
</div>

<%= render :partial => "list_view"   if @table_cols%>

<%#*Anzeige aller Bewertungen und des erreichten Punktestands%>
<%= render :partial => "show_eva"  if @table_cols%>



