<h1><%= I18n.t(:profiles) %></h1>

<%=  get_notices %>

<p align="right">
  <% if can? :create, Profile %>
    <%= link_to I18n.t(:new), new_profile_path %>
  <%end%>
</p>

<div class="tr span-22">
  <div class="td first">&nbsp;</div>
  <% current_user.is? :admin ? table_cols = ListView.get_table_columns(User, [:name, :sex, :telephone, :membership]) : table_cols = ListView.get_table_columns(User, get_settings(@profile))%>
  <% table_cols.each do |column| %>
    <div class="td span-4"><b><%=  I18n.t(column)%></b> </div>
  <% end %>
  <div class="td last span-2">&nbsp;</div>
</div>

<% @profiles.each do |profile| %>
  <div class="tr span-22">
    <div class="td first">&nbsp;</div>

    <% table_cols.each do |name| %>

      <div class="td span-4">
       <%= create_list_view(profile, name) if profile %>
      </div>
    <% end %>
    
    <div class="td last span-2">
      <% if can? :update, Profile %>
        <%= link_to I18n.t(:edit), edit_profile_path(profile) %>
      <%end%>
      <% if can? :delete, Profile %>
        <%= link_to I18n.t(:delete), profile, :confirm => I18n.t(:confirm_profile) , :method => 'delete' %>
      <%end%>
    </div>
  </div>
<% end  %>



