<%= I18n.t(:profiles) %>

<%=  get_notices %>

<p align="right">
  <% if can? :create, Profile %>
    <%= link_to I18n.t(:new), new_profile_path %>
  <%end%>
</p>

<div class="tr">
  <div class="td first">&nbsp;</div>
  <% current_user.is? :admin ? table_cols = ListView.get_table_columns(User, [:name, :sex, :telephone, :membership]) : table_cols = ListView.get_table_columns(User, get_settings(@profile))%>
  <% table_cols.each do |column| %>
    <div class="td span-3"><b><%=  I18n.t(column)%></b> </div>
  <% end %>
  <div class="td last">&nbsp;</div>
</div>

<% @profiles.each do |profile| %>
  <div class="tr">
    <div class="td first">&nbsp;</div>

    <% table_cols.each do |name| %>

      <div class="td span-3">
        <% if name.to_s == "name" %> 
          <%= profile.name  %>
        <% elsif name.to_s == "sex" %>
          <%= profile.sex == true ? "männlich" : "weiblich" %>
        <% elsif profile.option.first_letter_of_first_name == true && !(current_user.is? :admin) %>
          <%= profile.first_name.first + " " + profile.last_name %>
        <% elsif profile.option.first_letter_of_last_name == true && !(current_user.is? :admin) %>
          <%= profile.first_name + " " + profile.last_name.first %>
        <% elsif name.to_s == "membership" %>
          <%= profile.membership == true ? I18n.t(:premium) : I18n.t(:base) %>
        <% else %>
          <%= profile.attributes[name.to_s] %>
        <% end %>
      </div>
    <% end %>
    
    <div class="td last">
      <% if can? :update, Profile %>
        <%= link_to I18n.t(:edit), edit_profile_path(profile) %>
      <%end%>
      <% if can? :delete, Profile %>
        <%= link_to I18n.t(:delete), profile, :confirm => I18n.t(:confirm_profile) , :method => 'delete' %>
      <%end%>
    </div>
  </div>
<% end  %>



