<%#
# Titel:  Anzeige des Profils
# Datum:  01.12.2010
# Autor:  Claudia Pfeil
%>

<h1><%= @profile.first_name %>&nbsp;<%= @profile.last_name %></h1>

<%=  get_notices %>

<div class="tr span-22">
  <div class="td first">&nbsp;</div>
  <% @profile.option.nil? && !(current_user.is? :admin) ?  result = "Der Nutzer hat sein Profil leider noch nicht erstellt, daher können sie nur Einsicht in die bisherigen Bewertungen nehmen:" : @table_cols = get_table_cols(@profile) %>
  <% if @table_cols %>

    <% @table_cols.each do |column| %>
      <div class="td span-3"><b><%=  I18n.t(column)%></b> </div>
    <% end %>
  <% else %>
      <%= result %>
  <% end %>
  <div class="td last">&nbsp;</div>
  
</div>

<%= render :partial => "show_profile"  if @table_cols%>


<%= render :partial => "show_eva"  if @table_cols%>




