<%# Rechnung%>
<div class="tr span-19">
  <div class="td span-18">
    <ol>
      <li><h1>Rechnung</h1></li>
      <li><br><br><p>Bitte geben sie bei der Überweisung die Rechnungsnummer mit an.</p></li>
    </ol>
    <br><br>
  </div>
</div>

<div class="tr span-19">
  <div class="td no-margin-right col-14">
    <ol class="border">
      <li class="border"><h2><b><%= I18n.t(:description)  %></b></h2></li>
      <li class="border"><%= @bill.package_number%></li>
      <li class="border"><%= I18n.t(:price_net) %></li>
      <li class="border"><%= I18n.t(:price_post) %></li>
      <li class="border"><%= I18n.t(:mwst) %></li>
      <li class="border"><%= I18n.t(:price_brut) %></li>
    </ol>
  </div>

  <div class="td col-3 no-margin-left">
    <ol class="no_border_left ">
      <li class="no_border_left "><h2><b><%= I18n.t(:amount_bill) %></b></h2></li>
      <li class="no_border_left ">&nbsp;</li>
      <li class="no_border_left ">&nbsp;<%= get_net_price %></li>
      <li class="no_border_left ">&nbsp;<%= get_price.to_f / 100 %></li>
      <li class="no_border_left ">&nbsp;<%= get_mwst %></li>
      <li class="no_border_left ">&nbsp;<%= get_price.to_f / 100  %></li>
    </ol>
  </div>
</div>

<br><br><br><br>