<%#
# Title:
# and open the template in the editor.
%>

<div class="tr span-15">
  <h2><%=  I18n.t(:email_password) %></h2>
  <%= form_for :forgot_password, :url => { :controller => :users, :action => :forgot_password} do |password| %>
    
    <%= password.label I18n.t(:login) %><%= password.text_field :login, :value => params[:login] %>
    <%= password.label I18n.t(:email) %><%= password.text_field :email %>

    <%= password.submit I18n.t(:send_password) %>
    
  <% end %>
</div>
