<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<div class="info_box">
  <h2>Login</h2>

  <%= form_tag session_path do -%>
    <p><%= label_tag 'email', 'E-Mail:', :class => 'label_info_box' %>
    <%= text_field_tag 'login', @login, :class => 'email' %></p>

    <p><%= label_tag 'password', 'Passwort:', :class => 'label_info_box' %>
    <%= password_field_tag 'password', nil, :class => 'password' %></p>

    <p><%= submit_tag "Los geht's" %></p>
  <% end -%>

  <p> 
    <%= link_to 'Passwort vergessen?', '#', :rel => "forgot_password", :class => 'simpledialog' %>
    <div id="forgot_password" style="display: none"><%= render '/sessions/forgot_password', :login => params[:login] %> </div>
  </p>

</div>

<div id="register"><%= link_to I18n.t(:register), signup_path, :class => "register" %></div>
