
<h1><%= welcome.title %></h1>
<h2><%= welcome.subtitle %> </h2>
<p>
  <%= welcome.article %>
</p>
<p>
  <%= link_to "#{welcome.link_name}", welcome.link %>
</p>
<p>
  <%= image_tag(welcome.image.to_s, :size => "200x150")%>
</p>
       