<%#
# Titel:        Dashboard für Admin
# Beschreibung: Export der Profile-Historien, Statistiken
# Autor:        Claudia Pfeil
# Datum:        15.12.2010
%>

<%=  create_header2_with_link(I18n.t(:export_histories), (link_to I18n.t(:export), export_histories_profiles_path), Profile, :manage) %>

<%=  create_header2_with_link(I18n.t(:export_cartons), (link_to I18n.t(:export), export_cartons_profiles_path), Profile, :manage) %>

<%= create_link((link_to I18n.t(:show_cartons_orders), '#', :rel => 'all_ordered_cartons', :class => 'simpledialog right'), Profile, :manage) %>

<div id="all_ordered_cartons" style="display: none">
  
  <%= create_table_header(ListView.get_table_columns(User, [:first_name, :last_name, :ordered_cartons, :confirmed_delivery])) %>
  <% get_all_cartons_orders.each do |row| %>
    <%= create_table_list_view_with_link((link_to I18n.t(:confirm_delivery), confirm_delivery_user_path(row)), User, :manage, ListView.get_entries(User, row, [:first_name, :last_name, :ordered_cartons, :confirmed_delivery])) %>
  <% end %>
</div>

<%#*Nach bester Bewertung%>
<%= create_header2_with_link(I18n.t(:best_eva), (link_to I18n.t(:show_best_eva), '#', :rel => 'best_eva', :class => 'simpledialog'), Order, :manage) %>

<div id="best_eva" style="display: none">
  <%= create_table_header([:order_number, :package_number, :amount_clothes, :bill_number, :created_at]) %>
  <%= create_list_table_with_ar(get_best_evaluated_orders , [:order_number, :package_number, :amount_clothes, :bill_number, :created_at]) if get_best_evaluated_orders%>
</div>

<%#*Nach meist verschickten Paketen%>
<%= create_header2_with_link(I18n.t(:most_sent), (link_to I18n.t(:show_most_sent), '#', :rel => 'most_sent', :class => 'simpledialog'), User, :manage) %>
<div id="most_sent" style="display: none">
  <%= create_table_header([:amount, :first_name, :last_name, :membership, :created_at]) %>
  <%= create_list_table_with_hash(get_most_send_packages , [:amount, :first_name, :last_name, :membership, :created_at]) if get_most_send_packages %>
</div>

<%#*Nach Top-Marken%>
<%= create_header2_with_link(I18n.t(:most_labels), (link_to I18n.t(:show_most_labels), '#', :rel => 'most_labels', :class => 'simpledialog'), User, :manage) %>
<div id="most_labels" style="display: none">
  <%= create_table_header([:amount, :first_name, :last_name, :membership, :created_at]) %>
  <%= create_list_table_with_hash(get_label_packages , [:amount, :first_name, :last_name, :membership, :created_at]) if get_label_packages %>
</div>