<div class="tr">

  <div class="span-22 prepend-1 last">
    <h1>Registrieren als neues Mitglied</h1>
    <h2>und Kleidertauschen</h2>

    <% @user.password = @user.password_confirmation = nil %>

    <%= semantic_form_for @user do |user| %>
      <%= user.input :login %>
      <%= user.input :email%>
      <%= user.input :password, :as => :password%>
      <%= user.input :password_confirmation, :as => :password, :hint => 'Bestätigen sie ihr Password' %>
      <%= user.input :role, :value => 'registered', :as => :hidden %>

      <%= user.inputs link_to I18n.t(:accept_agbs), '#', :rel => 'agbs', :class => 'simpledialog' do %>
        <%= user.input :accepted, :as => :boolean%>
      <% end %>

      <%= user.buttons do %>
        <%= user.commit_button I18n.t(:register) %>
      <% end %>

    <% end %>

  </div>
</div>

<div id="agbs" style="display: none">
  <h1>bonjour!</h1>
  <%= render '/contents/cms/site', :@contents => @user.get_agbs %>
</div>


