<%#
# Titel:          Ogone Payment-Schnittstelle
# Beschreibung:   Alle notwendigen Parameter zur Übermittlung
# Autor:          Claudia Pfeil
# Datum:          20.12.2010
%>

<%# Payment-Anbindung%>
<%# General params:%>

<FORM METHOD="post" ACTION="https://secure.ogone.com/ncol/test/orderstandard_utf8.asp" id=form1 name=form1>
  
   <%# optional operation field%>
  <INPUT type="hidden" NAME="ACCEPTURL" value="<%= @ogone['ACCEPTURL'] %>" >
  <INPUT type="hidden" NAME="AMOUNT" value="<%= @ogone['AMOUNT'] %> ">
  <INPUT type="hidden" NAME="BGCOLOR" value ="<%= @ogone['BGCOLOR']%>">
  <INPUT type="hidden" NAME="BUTTONBGCOLOR" value ="<%= @ogone['BUTTONBGCOLOR']%>">
  <INPUT type="hidden" NAME="BUTTONTXTCOLOR" value ="<%= @ogone['BUTTONTXTCOLOR']%>">
  <INPUT type="hidden" NAME="BRAND" value="<%= @ogone['BRAND']%>">
  <INPUT type="hidden" NAME="CANCELURL" value ="<%=  @ogone['CANCELURL'] %>">
  <INPUT type="hidden" NAME="CATALOGURL" value ="<%=  @ogone['CATALOGURL'] %> ">
  <INPUT type="hidden" NAME="COMPLUS" value ="<%= @ogone['COMPLUS']%> ">
  <INPUT type="hidden" NAME="CURRENCY" value="<%= @ogone['CURRENCY']%>">
  <INPUT type="hidden" NAME="DECLINEURL" value ="<%= @ogone['DECLINEURL'] %>">
  <INPUT type="hidden" NAME="EMAIL" value = <%=  @ogone['EMAIL'] %> >
	<INPUT type="hidden" NAME="EXCEPTIONURL" value ="<%= @ogone['EXCEPTIONURL'] %>">
  <INPUT type="hidden" NAME="FONTTYPE" value="<%= @ogone['FONTTYPE'] %>">
  <INPUT type="hidden" NAME="HOMEURL" value ="<%= @ogone['HOMEURL'] %>">
  <INPUT type="hidden" NAME="LANGUAGE" value="<%= @ogone['LANGUAGE'] %>">
  <INPUT type="hidden" NAME="LOGO" value ="<%= @ogone['LOGO'] %>">
	<INPUT type="hidden" NAME="ORDERID" value="<%= @ogone['ORDERID'] %>">
  <INPUT type="hidden" NAME="OPERATION" value = '<%= @ogone['OPERATION'] %>' %>
  <INPUT type="hidden" NAME="PARAMPLUS" value ='<%= @ogone['PARAMPLUS'] %>' >
  <INPUT type="hidden" NAME="PMLIST" value="<%= @ogone['PMLIST'] %>">
  <INPUT type="hidden" NAME="PMLISTTYPE" value="<%= @ogone['PMLISTTYPE'] %>">
  <INPUT type="hidden" NAME="PSPID" value="<%= @ogone['PSPID'] %>">
  <INPUT type="hidden" NAME="PM" value="<%= @ogone['PM'] %>">
  <INPUT type="hidden" NAME="SHASIGN"  value="<%=  @ogone['SHASIGN']%>">
  <INPUT type="hidden" NAME="TBLBGCOLOR" value ="<%= @ogone['TBLBGCOLOR']%>">
  <INPUT type="hidden" NAME="TITLE" value ="<%= @ogone['TITLE']%>">
  <INUT type="hidden" NAME="TP" value = '<%= @ogone['TP']%>' >
  <INUT type="hidden" NAME="TXTOKEN" value = '<%= @ogone['TXTOKEN']%>' >
  <INPUT type="hidden" NAME="TXTCOLOR" value ="<%= @ogone['TXTCOLOR']%>">
  <INPUT type="hidden" NAME="USERID" value ="<%=  @ogone['USERID'] %>">
  <INPUT type="hidden" NAME="WIN3DS" value="<%=  @ogone['WIN3DS'] %>">

  <p><input type="submit" value="Weiter zum Bezahlen" id="Bezahlen" name=submit2></p>
	</form>



