<%#
# Titel:        Listenansicht Bezahlungen
# Beschreibung: für Admin, Bestätigung des Zahlungseingangs bei Vorauskasse
# Autor:        Claudia Pfeil
# Datum:        13.12.2010
%>
    
<%= create_header(I18n.t(:payments)) %>
<br>
<%= create_table_header(ListView.get_table_columns(Payment, [:first_name, :last_name, :package, :kind_payment, :created_at])) %>
<%= get_notices %>
<% @payments.each do |payment| %>
  
  <div class="tr span-22">
    <div class="td first">&nbsp;</div>
      <div class="td span-3"><%= payment.user.first_name if payment.user%></div>
      <div class="td span-3"><%= payment.user.last_name if payment.user%></div>
      <div class="td span-3"><%= payment.package.serial_number if payment.package%></div>
      <div class="td span-3"><%= payment.kind == true ? 'PayPal' : 'Master/Visa-Card' %></div>
      <div class="td span-3"><%= formatted_date(payment.created_at)%></div>
  </div>
<% end %>

