<%= semantic_form_for @content,:html => {:multipart => true} do |content| %>

  <%= content.inputs 'Content' do %>
    <%= content.input :category %>
    <%= content.input :title %>
    <%= content.input :subtitle %>
    <%= content.input :article, :input_html => {:cols => 40, :rows => 5} %><br>
    <%= content.input :image_file_name  %>
    <%= content.input :link %>
    <%= content.input :link_name %>
    <p><%= content.input :image, :as => :file %></p>
    <p><%= content.input :published, :as => :boolean %></p>
  <% end %>

  <%= content.buttons %>

<% end %>
