<%= "Contents" %>

<p>
  <% if can? :create, Content %>
    <%= link_to "New", new_content_path %>
  <%end%>
</p>

<div class="tr">
  <div class="td"><b><%= "Title"%></b> </div>
  <div class="td"><b><%= "Subtitle"%></b> </div>
  <div class="td"><b><%= "Article"%></b> </div>
  <div class="td"><b><%= "Link"%></b> </div>
</div>

<% @contents.each do |content| %>

  <div class="tr">
    <div class="td"><%= content.title%> </div>
    <div class="td"><%= content.subtitle%> </div>
    <div class="td"><%= truncate(content.article, :length => 20, :omission => "...")%> </div>
    <div class="td"><%= content.link%> </div>
    <% if can? :update, content %>
      <div class="td"><%= link_to  "Edit", edit_content_path(content)%> </div>
    <% end %>
    <% if can? :destroy, content %>
      <div class="td"><%= link_to "Destroy", content, :confirm => 'Are you sure?', :method => :delete %> </div>
    <%end%>
  </div>

<% end %>
