<h1><%= I18n.t(:contents) %></h1>
<%=  get_notices %>
<p align="right">
  <% if can? :create, Content %>
    <%= link_to I18n.t(:new), new_content_path %>
  <%end%>
</p>

<div class="tr">
  <div class="td"><b><%=  I18n.t('title')%></b> </div>
  <div class="td"><b><%= I18n.t('subtitle')%></b> </div>
  <div class="td"><b><%= I18n.t('article')%></b> </div>
  <div class="td"><b><%= I18n.t('link')%></b> </div>
</div>

<% @contents.each do |content| %>
    
  <div class="tr">
    <div class="td"><%= content.title%> </div>
    <div class="td"><%= content.subtitle%> </div>
    <div class="td"><%= truncate(content.article, :length => 20, :omission => "...")%> </div>
    <div class="td"><%= content.link%> </div>
    <div class="td">
      <% if can? :update, Content %>
        <%= link_to  I18n.t(:edit), edit_content_path(content), :id => 'edit'%>
      <% end %>
      <% if can? :read, Content %>
        <% unless content.category.name == 'Welcome' %>
          <%= link_to I18n.t(:preview),create_path(content.category.name.downcase), :popup => true, :id => 'preview' %>
        <% end %>
        <% if content.category.name == 'Welcome' %>
          <%= link_to I18n.t(:preview), root_path(:preview => true), :popup => true, :id => 'preview' %>
        <% end %>
      <%end%>
      <% if can? :publish, Content %>
        <%= link_to I18n.t(:publish), publish_content_path(content), :id => 'publish' %>
      <%end%>
      <% if can? :destroy, Content %>
        <%= link_to I18n.t(:destroy), content, :confirm => 'Möchten sie den Inhalt wirklich löschen?' , :method => 'delete' %>
      <%end%>
    </div>
  </div>

<% end %>
