<% if current_user %>

<div class="tr span-20">
  <div class="td first">&nbsp;</div>
  <div class="td span-16"><h1><%= I18n.t(:categories) %></h1><br><%=  get_notices %></div>
  <div class="td last">
    <br><%= link_to I18n.t(:new_category), new_category_path %>
  </div>
</div>

<div class="tr span-20">
  <div class="td span-6"><b><%= I18n.t(:name_cat) %></b> </div>
  <div class="td span-8"><b><%= I18n.t(:description_cat) %></b> </div>
  <div class="td span-4">&nbsp;</div>
</div>




<% @categories.each do |category| %>

  <div class="tr span-20">
    <div class="td span-6"><%= category.name%></div>
    <div class="td span-8"><%= category.description%></div>

    <div class="td last span-4">
      <% if can? :update, Category %>
        <%= link_to I18n.t(:edit), edit_category_path(category) %><br>
      <%end%>
      <% if can? :delete, Category %>
        <%= link_to I18n.t(:delete), category, :confirm => I18n.t(:confirm_category) , :method => 'delete' %>
      <%end%>
    </div>
  </div>

<% end %>

<% end %>
