<%= "Category" %>
<%=  get_notices %>
<p align="right">
 <%= link_to "New", new_category_path %>
</p>

<div class="tr_next">
  <div class="td"><b><%= "Name"%></b> </div>
  <div class="td"><b><%= "Description"%></b> </div>
</div>

<% @categories.each do |category| %>

  <div class="tr_next">
    <div class="td"><%= category.name%> </div>
    <div class="td"><%= category.description%> </div>
  </div>

<% end %>

