<%= "Category" %>

<p>
 <%= link_to "New", new_category_path %>
</p>

<div class="tr">
  <div class="td"><%= "Name"%> </div>
  <div class="td"><%= "Description"%> </div>
</div>

<% @categories.each do |category| %>

  <div class="tr">
    <div class="td"><%= category.name%> </div>
    <div class="td"><%= truncate(category.description, 20, "...")%> </div>
    <div class="td"><%= link_to  "Edit", edit_category_path(category)%> </div>
  </div>

<% end %>

