
<div class="tr">

  <%= link_to image_tag("/images/menue_home.gif", :width => '200', :height => '60', :alt => 'Home' ), root_path%>
  <% if can? :read, Profile %>
    <%= link_to image_tag("/images/menue_profile.gif", :width => '134', :height => '60', :alt => 'Profile' ), profiles_path%>
  <% else %>
    <%= image_tag("/images/menue_profile.gif", :width => '134', :height => '60', :alt => 'KidsKarton')  %>
  <% end %>
  <% if can? :update, Package %>
    <%= link_to image_tag("/images/menue_pakete.gif", :width => '134', :height => '60', :alt => 'Pakete' ), packages_path%>
  <% else %>
    <%= image_tag("/images/menue_pakete.gif", :width => '134', :height => '60', :alt => 'KidsKarton')  %>
  <%end%>
  <%= link_to image_tag('/images/menue_suche.gif', :width => '134', :height => '60', :alt => 'Searches'), search_packages_path %>
  <%= link_to image_tag('/images/menue_hilfe.gif', :width => '134', :height => '60', :alt => 'Hilfe'), helps_path %>
  <%= link_to image_tag('/images/menue_kontakt.gif', :width => '134', :height => '60', :alt => 'Kontakt'), contacts_path %>
  <br>
  <hr>

</div>


