<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<div id="login_form">
  <h2>Login</h2>

  <%= form_tag session_path do -%>
  <p><%= label_tag 'E-Mail' %>
     <%= text_field_tag 'login', @login, :class => "email" %></p>

  <p><%= label_tag 'Passwort' %>
     <%= password_field_tag 'password', nil, :class => "password" %></p>

  <p><%= submit_tag 'Log in' %></p>
  <% end %>
  <p>
    <%# unless get_notices.blank? %>
      <%#= link_to 'Passwort vergessen?', '#', :rel => "forgot_password", :class => 'simpledialog' %>
      <div id="forgot_password" style="display: none"><%#= render 'forgot_password', :login => params[:login] %> </div>
    <%# end %>
  </p>
</div>

<div id="register"><%= link_to I18n.t(:register), signup_path, :class => "register" %></div>

