<!DOCTYPE html>
<html>
<head>
  <title>KidsKarton.de</title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag 'blueprint/screen' %>
  <!--[if lt IE 8]>
    <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection">
  <![endif]-->
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <%= render '/layouts/set_meta_tags'%>
</head>
<body>
  
  <div class="container">
    <div class="span-22">
      <%= render "/layouts/header" %>
      <%= render "/layouts/subnavi" %>
	  </div>

    <div class="span-22 background">
     <%= yield %>
    </div>

    <div class="span-22">
      <br>
      <span class="sub">&copy; 2010.Schwab&Auber GbR. <a href="mailto:infoatkidskarton.de">E-mail senden</a></span>
      <br>&nbsp;<br>
	  </div> 
  </div>

</body>
</html>
