<%# Kontaktadresse Nutzer, Kundennummer, Bestellnummer, Bestelldatum, Paketnummer, Rechnungsnummer %>

<div class="tr">
  <div class="prepend-18 span-5">
    <%# Logo%>
  </div>
</div>
<br><br><br><br>
<div class="tr">

  <div class="prepend-1 span-14 td">
    <ol>
      <li><%= @bill.user.first_name  %>, <%= @bill.user.last_name%> </li>
      <li><%= @bill.user.street_and_number%> </li>
      <li><%= @bill.user.postcode%> </li>
      <li><%= @bill.user.town %> </li>
    </ol>
  </div>

  <div class="span-7 td last">
    <ol>
      <li>Rechnungsdatum:   <%= formatted_date(Date.today)%> </li>
      <li>Rechnungsnummer:  <%= @bill.bill_number  %></li>
      <li>Bestelldatum:     <%= formatted_date(@bill.created_at)  %></li>
      <li>Bestellnummer:    <%= @bill.bill_number  %></li>
      <li><%# Kundennummer %></li>
    </ol>
  </div>

</div>
<br></br><br><br><br><br>


