<%# Template für die Rechnungen%>
<!DOCTYPE html>
<html>
<head>
  <title>KidsKarton -Rechnung</title>
  <%= stylesheet_link_tag 'bill', 'blueprint/src/grid', :media => :screen %>
  <%= stylesheet_link_tag 'pdf', :media => :print %>
  <!--[if lt IE 8]>
    <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection">
  <![endif]-->
</head>
<body>
  <div class="container span-20">

    <div class="tr span-19 ">
      <div class="td span-8"><%= image_tag '/images/logo.gif', :height => '100', :width => '150' %></div>
      <div class="td span-10 no_print"><p align="right"><%= link_to I18n.t(:download_bill), bill_path(@bill,"pdf") %></p></div>
    </div>
    
    <div class="tr span-19 margin-5 margin-10">
      <%= render "/layouts/bills/bill_header" %>
	  </div>

    <p class="margin-5">
      <%= yield %>
    </p>

    <div class="tr span-19 margin-foot">
      <%= render '/layouts/bills/bill_footer' %>
	  </div>

  </div>

</body>
</html>

