<%# Template für die Rechnungen%>
<!DOCTYPE html>
<html>
<head>
  <title>KidsKarton -Rechnung</title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag 'blueprint/print', 'blueprint/src/grid' %>
  <!--[if lt IE 8]>
    <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection">
  <![endif]-->
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <%= render '/layouts/set_meta_tags'%>
</head>
<body>
  <div class="container .showgrid">
    
    <div class="span-23">
      <%= render "/layouts/bills/bill_header" %>
	  </div>

    <div class="span-23 ">
      <%= yield %>     
    </div>

    <div class="span-23">
      <%= render '/layouts/bills/bill_footer' %>
	  </div>

  </div>

</body>
</html>

