<%#
# Titel:          Ogone Payment-Schnittstelle
# Beschreibung:   Alle notwendigen Parameter zur Übermittlung
# Autor:          Claudia Pfeil
# Datum:          20.12.2010
%>

<%# Payment-Anbindung%>
<%# General params:%>
<p>Ihre Bestellung ist bei uns eingegangen, vielen Dank!<br> Fahren sie nun mit der Bezahlung fort!</p>
<FORM METHOD="post" ACTION="https://secure.ogone.com/ncol/test/orderstandard_utf8.asp" id=form1 name=form1>
  
   <%# optional operation field%>
  <INPUT type="hidden" NAME="ACCEPTURL" value="<%= params[:ogone][:ACCEPTURL] %>" >
  <INPUT type="hidden" NAME="AMOUNT" value="<%= params[:ogone][:AMOUNT] %> ">
  <INPUT type="hidden" NAME="BGCOLOR" value ="<%= params[:ogone][:BGCOLOR]%>">
  <INPUT type="hidden" NAME="BUTTONBGCOLOR" value ="<%= params[:ogone][:BUTTONBGCOLOR]%>">
  <INPUT type="hidden" NAME="BUTTONTXTCOLOR" value ="<%= params[:ogone][:BUTTONTXTCOLOR]%>">
  <INPUT type="hidden" NAME="BRAND" value="<%= params[:ogone][:BRAND]%>">
  <INPUT type="hidden" NAME="CANCELURL" value ="<%=  Payment::CANCEL_URL %>">
  <INPUT type="hidden" NAME="CATALOGURL" value ="<%=  Payment::CATALOG_URL %> ">
  <INPUT type="hidden" NAME="COMPLUS" value ="<%= params[:ogone][:COMPLUS]%> ">
  <INPUT type="hidden" NAME="CURRENCY" value="<%= params[:ogone][:CURRENCY]%>">
  <INPUT type="hidden" NAME="DECLINEURL" value ="<%= params[:ogone][:DECLINEURL] %>">
  <INPUT type="hidden" NAME="EMAIL" value = <%=  params[:ogone][:EMAIL] %> >
	<INPUT type="hidden" NAME="EXCEPTIONURL" value ="<%= params[:ogone][:EXCEPTIONURL] %>">
  <INPUT type="hidden" NAME="FONTTYPE" value="<%= params[:ogone][:FONTTYPE] %>">
  <INPUT type="hidden" NAME="HOMEURL" value ="<%= params[:ogone][:HOMEURL] %>">
  <INPUT type="hidden" NAME="LANGUAGE" value="<%= params[:ogone][:LANGUAGE] %>">
  <INPUT type="hidden" NAME="LOGO" value ="<%= params[:ogone][:LOGO] %>">
	<INPUT type="hidden" NAME="ORDERID" value="<%= params[:ogone][:LOGO] %>">
  <INPUT type="hidden" NAME="OPERATION" value = '<%= params[:ogone][:OPERATION] %>' %>
  <INPUT type="hidden" NAME="PARAMPLUS" value ='<%= params[:ogone][:PARAMPLUS] %>' >
  <INPUT type="hidden" NAME="PMLIST" value="<%= params[:ogone][:PMLIST] %>">
  <INPUT type="hidden" NAME="PMLISTTYPE" value="<%= params[:ogone][:PMLISTTYPE] %>">
  <INPUT type="hidden" NAME="PSPID" value="<%= params[:ogone][:PSPID] %>">
  <INPUT type="hidden" NAME="PM" value="<%= params[:ogone][:PM] %>">
  <INPUT type="hidden" NAME="SHASIGN"  value="<%= params[:ogone][:SHASIGN]%>">
  <INPUT type="hidden" NAME="TBLBGCOLOR" value ="<%= params[:ogone][:TBLBGCOLOR]%>">
  <INPUT type="hidden" NAME="TITLE" value ="<%= params[:ogone][:TITLE]%>">
  <INUT type="hidden" NAME="TP" value = '<%= params[:ogone][:TITLE]%>' >
  <INUT type="hidden" NAME="TXTOKEN" value = '<%= params[:ogone][:TXTOKEN]%>' >
  <INPUT type="hidden" NAME="TXTCOLOR" value ="<%= params[:ogone][:TXTCOLOR]%>">
  <INPUT type="hidden" NAME="USERID" value ="<%=  params[:ogone][:USERID] %>">
  <INPUT type="hidden" NAME="WIN3DS" value="<%=  params[:ogone][:WIN3DS] %>">

  <p><input type="submit" value="Weiter zum Bezahlen" id="Bezahlen" name=submit2></p>
	</form>



